<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="DatabaseConnectionString1" connectionString="Server=cdb42e9d-d091-43ef-81fb-a490009f3562.sqlserver.sequelizer.com;Database=dbcdb42e9dd09143ef81fba490009f3562;User ID=bjehltkvdsqvgcyl;Password=TrnqXWjmH5N3JDT5R3gfQU48UoSpdg4AgEXhmfyon8REgDqM8Qiv72S8vnDHd4hA;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
